body{
	background-color: #bababa;
}

.person{
	border-style: solid;
  border-width: 1px;
	box-shadow: 3px 3px 1px #656565;
	background-color: #fff;
	padding: 10px;
	margin-top:1vh;

}

#top{
	background-image: url(background-top.jpg);
	background-position:center center;
	background-size: auto;
	height: 100%;
	width: 100%;
	display: table;
	text-align: center;
}

#top-content{
	display:table-cell;
  vertical-align:middle;
}

.formElement{
	width: 20vw;
	height: 30px;
	min-width: 300px;
}

.formSubmit{
	width: 15vw;
	height: 30px;
	min-width: 250px;
}

#main-title{
	color: #fff;
	text-shadow: 0 0 4px #000;
	font-size: 8vw;
	font-variant: small-caps;
}

#results-content {
	width: 90%;
	height: 100%;
	margin: auto;
	padding-top: 2vh;
	padding-bottom: 2vh;
}

#forms {
	padding: 15px;
	border-radius: 15px;
	background-color:  rgba(200, 200, 200, 0.7);
}
